.header-top{
    background: #3190e8!important;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    height: 1rem;
    line-height: 1rem;
    color: white;
    font-size: 0.8rem
}
.sj_tit{
    font-size: 0.26rem
}
.shop_header{
    text-align: left;
    padding-left: 0.4rem;
    height: 1.9rem;
    line-height: 1.9rem;
    margin-top: .4rem;
    background: white;
    
}